asgiref==3.9.2
certifi==2025.10.5
cffi==2.0.0
charset-normalizer==3.4.3
cryptography==46.0.3
defusedxml==0.7.1
dill==0.3.8
dj-database-url
Django==5.2.6
django-cleanup==9.0.0
django-environ==0.12.0
djangorestframework==3.16.1
gunicorn==23.0.0
idna==3.10
mysql==0.0.3
mysql-connector==2.2.9
mysqlclient==2.2.4
numpy==1.26.0
oauthlib==3.3.1
packaging==25.0
pandas==2.0.3
patsy==0.5.6
pillow==12.0.0
pip>=25.2
psycopg2-binary==2.9.10
pycparser==2.23
PyJWT==2.10.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python3-openid==3.2.0
pytz==2024.1
requests==2.32.5
requests-oauthlib==2.0.0
revoscalepy @ https://aka.ms/sqlml/python3.10/windows/revoscalepy-10.0.1-py3-none-any.whl#sha256=30d1daa5738fa78b064aa48fb1d5c8259a48fd0596dfec410512707c4cce3d1e
setuptools==70.1.1
six==1.16.0
social-auth-app-django==5.6.0
social-auth-core==4.8.1
sqlparse==0.5.3
stripe==13.0.1
tailwindcss==0.0.1
typing_extensions==4.15.0
tzdata==2024.1
urllib3==2.5.0
whitenoise==6.11.0




