<footer class="site-footer" role="contentinfo">
  <div class="footer-content">
    <div class="footer-left">
      <span>&copy; {% now "Y" %} My Untold Stories</span>
    </div>
    <div class="footer-links">
      <a href="{% url 'terms' %}">Terms & Conditions</a>
      <a href="{% url 'privacy' %}">Privacy Policy</a>
      <a href="{% url 'shipping' %}">Shipping & Returns</a>
    </div>
    {% if user.is_authenticated %}
    <div class="footer-info">
      <a href="{% url 'about' %}" aria-label="About">
        <i class="fa-solid fa-circle-info"></i>
      </a>
      <a href="{% url 'contact' %}" aria-label="Contact">
        <i class="fa-solid fa-comment"></i>
      </a>
    </div>
    {% endif %}
    <div class="footer-social">
      <a href="https://www.tiktok.com/@my_untold_stories_o?_t=ZP-90Zxo7jc0Dv&_r=1" aria-label="TikTok"><i class="fa-brands fa-tiktok"></i></a>
      <a href="https://www.instagram.com/myuntoldstories_official?igsh=MWIsYzNhaG41ZmRvdA==" aria-label="Instagram"><i class="fa-brands fa-instagram"></i></a>
      <a href="https://www.facebook.com/share/19vPxwQi6G/?mibextid==wwXIfr" aria-label="Facebook"><i class="fa-brands fa-facebook"></i></a>
    </div>
  </div>
</footer>