{% load static %}
<nav class="main-nav" aria-label="Primary Navigation">
  <div class="nav-left">
    <a href="{% url 'home' %}" aria-label="Home"><img src="{% static 'img/logo_master_4000px.png' %}"></a>
    <span>My Untold Stories</span>
  </div>
  <div class="nav-controls">
    <div class="hamburger" id="hamburger" aria-label="Toggle menu" aria-expanded="false" role="button" tabindex="0">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="nav-right">
      <a href="{% url 'product_list' %}" aria-label="Cart" class="cart-link">
      <i class="fa-solid fa-shopping-cart"></i>
      <span class="cart-count" id="cart-count"></span>
    </a>
  {% if not user.is_authenticated %}
    <a href="{% url 'about' %}" aria-label="About">
      <i class="fa-solid fa-circle-info"></i>
    </a>
    <a href="{% url 'contact' %}" aria-label="Contact">
      <i class="fa-solid fa-comment"></i>
    </a>
  {% endif %}
    <a href="{% if user.is_authenticated %}{% url 'profile' %}{% else %}{% url 'login' %}{% endif %}" aria-label="Account">
      <i class="fa-solid fa-user"></i>
    </a>
    </div>
  </div>
</nav>
<script>
  const hamburger = document.getElementById('hamburger');
  const navRight = document.querySelector('.nav-right');

  hamburger.addEventListener('click', () => {
    navRight.classList.toggle('open');
    hamburger.classList.toggle('open');
    hamburger.setAttribute('aria-expanded', navRight.classList.contains('open'));
  });
</script>